<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Site Title</title>
  <!--
  1. Declare JavaScript Dependencies (JQuery, JQuery UI Core and CanJS)
  The locations here are for example, you can use any other server or private/public CDN
  -->
  <script src="http://www8.hp.com/us/en/scripts/framework/jquery/v-1-8/jquery.js"></script>
  <script src="http://www8.hp.com/us/en/scripts/framework/jquery/v-1-8/can.jquery.js"></script>
  <link href ="http://www.www8-hp.com/us/en/system/styles/rdt/rdt-typo.css" rel="stylesheet" type="text/css" />

  <!-- 2. Reference CaaS script. If other parameters are needed, include them into query string after &amp; -->
  <script src="http://www8.hp.com/caas/header-footer/us/en/hpe/latest.r?contentType=js" ></script>
</head>
<body>
  <!--3. Create Page Skeleton -->
  <div id="everything" class="everything">
    <div id="content">
      <!-- 4. Placeholder for Header -->
      <div id="header" class="header"></div>
      <div id="body" class="body">
      <!-- 5. Place your content Inside body div -->
      </div>
      <!-- 6. Placeholder for Footer -->
      <div id="footer" class="footer"></div>
    </div>
  </div>
</body>
</html>